
html {
    color-scheme: light; 
}

body {
    margin: 0;
    background-color: white;  
    color: black;             
    font-family: Arial, sans-serif; 
}
h1{ 
    margin: 0;
    color: #000;
}

header{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav{
    display: flex;
    gap: 20px;
}

nav a{
    font-weight: 500;
    text-decoration: none;
    color: black
}
